<!DOCTYPE html>
<html>
<head>
  <title>Inspire - Login</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../stylesheets/welcome.css">
</head>
<body>
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-light m-navbar">
    <a class="navbar-brand" href="#">Inspire</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Top Stories</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <label id="login_form"><input class="form-control mr-sm-2" type="text" placeholder="Username"name="usenanme"></label>
        <label id="login_form"><input class="form-control mr-sm-2" type="text" placeholder="Password"name="usenanme"></label>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
      </form>
    </div>
  </nav>
  <!-- End Nav Bar -->

  <!-- Jumbotron -->
  <div class="jumbotron custom-jumbotron">
    <h1 class="display-4">Welcome Explorer!</h1>
    <p class="lead">We've all got a story to share, to <strong>Inspire</strong></p>
    <p>
      Inspire is a place for people to share their experiences in a positive community! It's a place for people to learn, and grow and most of all be <strong>inspired</strong> from others!
    </p>
    <p class="lead">Read to Join?</p>
    <hr class="my-4">
    <p class="lead">
      <!-- <%#= button_to 'Sign up', new_user_path, :method => :get %>  this is the preferred way but for css styling-->
      <a class="btn btn-primary btn-lg" href="/user/new" role="button">Sign Up</a>
    </p>
  </div>
  <!-- End Jumbotron -->
  
</body>
</html>
