<!DOCTYPE html>
<html>
<head>
  <title>Inspire - Login</title>
  <link rel="stylesheet" type="text/css" href="../../stylesheets/welcome.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div id = "body">
    <div id = "container">
      <div id = "website_title">
        <h5 id = "header">Inspire</h5>
      </div>
    </div>
    <div id="login">
      <p>Login:</p>
      <span>
        <form method="get">
          <label>Username:
            <input type="text" name="User" placeholder="username" required>
          </label>
          <label>Password:
            <input type="Password" name="password" placeholder="password" pattern=".{8,32}" title="Password must be between 8 and 32 characters" required>
          </label>
          <label id="remember">Remember me
            <input type="checkbox">
          </label>
      </form>
      <%= button_to 'Sign In!', user_index_path, :method => :get %>
      <div id="signup">
        <h3>Don't have an account?
          <%= button_to 'Sign up here!', new_user_path, :method => :get %>
        </h3>
      </div>
      </span>
    </div>
  </div>
  
</body>
</html>
