body {
	font-size: 20px;
	background-color: #A7E8E3;
	font-family: 'Montserrat', sans-serif;
	/*Please note we do not take credit for the taking of this photo*/
	background-size: cover;
	background-repeat: no-repeat;
	color: #F4F8FC;
}
p {
	font-family: 'Raleway', serif;
	font-size: 1.5em;
	color: #1a3868;
}

#container {
	width: 20%;
	margin: auto;
}

#login_form {
	padding-left: 3em;
	font-size: 1000px;
}

.custom-jumbotron {
	background-image: url("https://i.pinimg.com/originals/a2/4f/df/a24fdf30c7ffe97711cf550ba266a4d7.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

#header {
	color: #38393a;
	text-align: center;
	font-size: 2em;
	border-collapse: true;
	/* change from px to relative */
	margin-top: 10px;
	margin-bottom: 10px;
} 

#website_title {
	/*#A7E8E3*/
	background-color: #F4F8FC;
	padding: 3px;
	border: 4px solid #1a3868;
	position: relative;
}
/* Bottom Border - note play around with dimensions */
#website_title::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  height: 100px;
  width: 100%;
  /*border-bottom: 30px solid #f4424b; */
}
h2 {
	color: #1a3868;
}
h3 {
	color: #1a3868;
	text-align: right;
	font-size: 70%;
}
#login {
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 0px;
}

#remember {
	color: #1a3868;
	font-size: 14px;
}

#username {
	color: #1a3868;
}

#password {
	color: #1a3868;
}

#main_content {
	padding-right: 15px;
	padding-left: 15px;
}
h1 {
	color: red;
}

#top_stories {
	color: red;
}
