<!DOCTYPE html>
<html>
<head>
  <title>Inspire - Login</title>
  <link rel="stylesheet" type="text/css" href="InspireLogin.css">
</head>
<body>
  <h1><stronger>Inspire</stronger></h1>
  <div>
    <h3>Already  have an account? Sign up
      <a href="InspireSignUp.html">here!</a>
    </h3>
  </div>
  <div>
  	<h2>Login:</h2>
  	<form method="get">
  		<label>Username:
  			<input type="text" name="User" placeholder="username" required>
  		</label>
  		<label>Password:
  		  <input type="Password" name="password" placeholder="password" pattern=".{8,32}" title="Password must be between 8 and 32 characters" required>
  		</label>
  		<button>Sign in</button>
  	</form>
  </div>
  
</body>
</html>