<!DOCTYPE html>
<html>
<head>
	<title>Inspire - Sign up</title>
</head>
<body>
  <section>
  	<p>Inspire</p>
  	<p>Share your story, find inspiration</p>
  </section>
  <div>
  	<h1>
      Sign up:
  	</h1>
  	<form method="get">
  		<span>
  		  <label>First Name:
  			<input type="text" name="given name" required title="Please enter your first name" placeholder="Jane">
  		  </label>
  		  <label>Last Name:
  		    <input type="text" name="surname" required title="Please enter your last name" placeholder="Smith">
  		  </label>
  		</span>
  		<p>
  		<label>Email:
  		  <input type="Email" name="user email" placeholder="jane.smith@email.com" required=""></label>
  		</p>
  		<p>
  		<label>Username:
  		  <input type="text" name="username" placeholder="username" required="">
  		</label>
  		</p>
  		<p>
  		<label>Password:
  	      <input type="Password" name="password" placeholder="password" pattern=".{8,32}" required</input>
  		</label>
  		</p>
  		<p>
  		<label>Confirm Password:
  		  <input type="Password" name="rep password" placeholder="password" title="Please enter the same password as above" required="">
  		</label>
  		</p>
  		<p>
  		<button>
  			Sign up
  		</button>
  		</p>
  	</form>
  </div>
</body>
</html>